<template>
  <h1>The Progressive
JavaScript Framework</h1>
<hr />
<p>{{ msg.toUpperCase() }}</p>
{{ buttonHTMl }}
<span v-html="buttonHTMl"></span>
<p v-bind:style="color">TEST </p>
<a v-bind:href="web">monkeytype</a>
{{ num1 }}
<br >
<h2 :style="`color:${'blue'}`">${{ savings }}</h2>
<h2 :style="`color:${price >= 200 ? 'blue' : 'red'}`">${{ price }}</h2>
<h2 v-bind:class="total >=650 ? 'bottom': 'background' ">${{ total }}</h2>
</template>

<style>
  .bottom{
    color: brown;
  }
  .background{
    color:blue;
  }
  h1{
    color: blueviolet;
  }
</style>

<script>
const msg = "Hello"
const buttonHTMl ="<button>Click Me</button>"
const color = "color:white;background-color: red;"
const web = "https://monkeytype.com"
const num1 = 2*5
const savings = 350
const price = 150
const total = 500
  export default {
    name: "App",  
    data(){
      return {
        total,
        msg,
        buttonHTMl,
        color,
        web,
        num1,
        savings,
        price,
      }
    }
  };
</script>


